In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/atlantico-academy/datasets/main/titanic.csv")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [8]:
df.to_csv('../data/raw/data.csv', index=False)

In [9]:
dicionario = pd.DataFrame([        
    {
        "variavel": "survived",
        "descricao": "Indica se a pessoa sobreviveu ou não",
        "tipo": "qualitativa",
        "subtipo": "nominal"
    },{
        "variavel": "pclass",
        "descricao": "Classe do passageiro no navio",
        "tipo": "qualitativa",
        "subtipo": "ordinal"
    },{
        "variavel": "sex",
        "descricao": "Sexo do passageiro",
        "tipo": "qualitativa",
        "subtipo": "nominal"
    },{
        "variavel": "age",
        "descricao": "Idade do passageiro",
        "tipo": "quantitativa",
        "subtipo": "contínua"
    },{
        "variavel": "sibsp",
        "descricao": "Quantidade de irmãos ou cônjuges a bordo do navio",
        "tipo": "quantitativa",
        "subtipo": "discreta"
    },{
        "variavel": "parch",
        "descricao": "Quantidade de pais ou filhos a bordo do navio",
        "tipo": "quantitativa",
        "subtipo": "discreta"
    },{
        "variavel": "fare",
        "descricao": "Valor da tarifa do passageiro",
        "tipo": "quantitativa",
        "subtipo": "contínua"
    },{
        "variavel": "embarked",
        "descricao": "Porto de embarcação do passageiro",
        "tipo": "qualitativa",
        "subtipo": "nominal"
    },{
        "variavel": "class",
        "descricao": "Classe do passageiro no navio",
        "tipo": "qualitativa",
        "subtipo": "ordinal"
    },{
        "variavel": "who",
        "descricao": "Indica se é homem, mulher ou criança",
        "tipo": "qualitativa",
        "subtipo": "nominal"
    },{
        "variavel": "adult_male",
        "descricao": "Indica se é um homem adulto",
        "tipo": "qualitativa",
        "subtipo": "nominal"
    },{
        "variavel": "deck",
        "descricao": "Convés em que o passageiro estava",
        "tipo": "qualitativa",
        "subtipo": "ordinal"
    },{
        "variavel": "embark_town",
        "descricao": "Nome da cidade de embarque do passageiro",
        "tipo": "qualitativa",
        "subtipo": "nominal"
    },{
        "variavel": "alive",
        "descricao": "Indica se a pessoa está viva ou não",
        "tipo": "qualitativa",
        "subtipo": "nominal"
    },{
        "variavel": "alone",
        "descricao": "Indica se a pessoa viajou sem familiares ou cônjuges",
        "tipo": "qualitativa",
        "subtipo": "nominal"
    }
])
dicionario.to_csv('../data/external/dictionary.csv', index=False)
dicionario

,variavel,descricao,tipo,subtipo
0,survived,Indica se a pessoa sobreviveu ou não,qualitativa,nominal
1,pclass,Classe do passageiro no navio,qualitativa,ordinal
2,sex,Sexo do passageiro,qualitativa,nominal
3,age,Idade do passageiro,quantitativa,contínua
4,sibsp,Quantidade de irmãos ou cônjuges a bordo do navio,quantitativa,discreta
5,parch,Quantidade de pais ou filhos a bordo do navio,quantitativa,discreta
6,fare,Valor da tarifa do passageiro,quantitativa,contínua
7,embarked,Porto de embarcação do passageiro,qualitativa,nominal
8,class,Classe do passageiro no navio,qualitativa,ordinal
9,who,"Indica se é homem, mulher ou criança",qualitativa,nominal
10,adult_male,Indica se é um homem adulto,qualitativa,nominal
11,deck,Convés em que o passageiro estava,qualitativa,ordinal
12,embark_town,Nome da cidade de embarque do passageiro,qualitativa,nominal
13,alive,Indica se a pessoa está viva ou não,qualitativa,nominal
14,alone,Indica se a pessoa viajou sem familiares ou cô...,qualitativa,nominal